// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

/*Переменные*/
$section-color: #fbfbfb;


.contact__container {
    height: 270px;
    padding-top: 90px;

    display: flex;
    justify-content: space-between;
  }
  
  .contact__menu li {
    margin-bottom: 20px;
  }
  
  .contact__menu:last-child {
    margin-bottom: 0;
  }
  
  .fa {
    font-size: 20px !important;
  }
  
  .fa-phone,
  .fa-envelope {
    color: #ff2f96;
  }
  
  .fa-phone {
    font-size: 22px !important;
  }
  
  .contact__phone a,
  .contact__mail a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  
  .contact__phone {
    margin-bottom: 40px;
  }
  
  .contact__button {
    margin-left: 0;
  }
  
  .social ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
  }
  
  .social__link {
    margin-right: 20px;
  
    width: 35px;
    height: 30px;
    text-align: center;
  
    cursor: pointer;
  }
  
  .social__link i {
    font-size: 30px !important;
    color: #b2b9ca;
  }
  
  .social__link i:hover {
    color: #ff6674;
  }
  
  .social__link:last-child {
    margin-right: 0;
  }
  
  footer {
    height: 80px;
    background-color: #31293c;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 16px;
    color: white;
  }


@media screen and (max-width: $xl + "px") {
    .contact__container {
        padding-top: 90px;
    }
}
@media screen and (max-width: $lg + "px") {
    
  .contact__menu a {
    color: #8993ad;
    font-size: 18px;
  }

  .contact__phone a, .contact__mail a {
    font-size: 22px;
    }

  .contact {
    height: 280px;
  }

  .contact__container {
    padding-top: 90px;
    height: 50%;
  }

  .social ul {
    margin-top: 25px;
}
}
@media screen and (max-width: $md + "px") {
    .contact {
        height: 410px;
      }
  
      .contact__container {
        margin-top: 50px;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }
  
      .contact__phone {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        color: #8993ad;
      }
  
      .contact__phone a {
        font-size: 20px;
        color: #8993ad;
      }
  
      .contact__mail a {
        font-size: 20px;
        color: #8993ad;
      }
  
      .social {
        margin-top: 25px;
      }
  
      .contact__button {
        display: block;
  
        color: white;
        font-size: 16px;
        padding: 15px 40px;
        background: #f53f4f;
        margin-left: 0;
        outline: none;
        cursor: pointer;
      }
}
@media screen and (max-width: $sm + "px") {
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .contact__button {
        width: 100%;
        padding: 15px 0;
      }
}