// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

.expirience__skill {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
  }
  
  .skill {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .skill__item {
    font-size: 20px;
    color: #8993ad;
    position: relative;
  }
  
  .skill__item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  
  .skill__item p {
    padding: 90px 15px 0 15px;
    text-align: center;
    line-height: 1.5;
  }
  
  .skill__item:hover{
    transform: scale(1.1);
    transition: 0.3s;
  
  }
  
  .expirience__button {
    margin: 0 auto;
  }

  @media screen and (max-width: $lg + "px") {
    .expirience__skill {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
      }
    
      .skill {
        flex-wrap: wrap;
        margin-bottom: 0px;
      }
    
      .skill__item {
        width: 50%;
        margin-bottom: 80px;
      }
    
      .skill__item img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    
      .skill__item p {
        padding: 90px 65px 0 65px;
        text-align: center;
      }
  }


  @media screen and (max-width: $md + "px") {
    .skill__item {
        font-size: 16px;
        color: #8993ad;
        position: relative;
        margin-bottom: 60px;
      }
    
      .expirience__skill {
        margin-bottom: 50px;
      }
  }


  @media screen and (max-width: $sm + "px") {
    .skill {
        flex-wrap: wrap;
        margin-bottom: 0px;
      }
    
      .skill__item {
        width: 100%;
        margin-bottom: 50px;
      }
    
  }
