// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}


.main {
    height: 760px;
    background-color: #fbfbfb;
    overflow: hidden;
}

    @media screen and (max-width: $xl + "px") {
    .main {
        height: 770px;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom -10px right 30px, bottom -103px right -65px, bottom -230px right -270px;
        }
    }

    @media screen and (max-width: $md + "px") {
        .main {
          height: 680px;
          background-color: white;
        }
    }


.header__burger {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;

  &.block{
    display: none;
  }
}
  
.header__menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  list-style: none;
  color: #1f1f24;
  font-size: 18px;
  margin-right: 35px;

  &:hover{
    border-bottom: 2px solid #fc557c;
    color: #fc557c;  
  }
}

.header__contact {
  display: flex;
}

.header__phone {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #1f1f24;
}

@media screen and (max-width: $xl + "px") {
    .header__phone {
        font-size: 20px;
      }
    }

.button-phone{
  color: #f53f4f;
  border: 2px solid #f53f4f;
  background: transparent;
  font-size: 16px;
  padding: 15px 40px;
  outline: none;
  cursor: pointer;
}

    @media screen and (max-width: $xl + "px") {
        .button-phone {
            font-size: 16px;
            padding: 10px 30px;
        }
    }

.header__button {
  margin-left: 30px;

  &:hover{
    transform: translateY(1px); 
  }
}

.header__button-mobile {
  display: none;
}




@media screen and (max-width: $lg + "px") {
    header {
        padding-top: 40px;
        z-index: 2;
      }
    
      .header__burger {
        display: block;
        position: relative;
        width: 45px;
        height: 35px;
        cursor: pointer;
      }
    
      .header__burger span {
        position: absolute;
        left: 0;
        background: linear-gradient(45deg, #ff8f5a, #ff2f96);
        width: 100%;
        height: 5px;
        top: 14px;
    
        transition: 0.3s ease;
      }
    
      .header__burger:before,
      .header__burger:after {
        content: "";
        background: linear-gradient(45deg, #ff8f5a, #ff2f96);
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
    
        transition: all 0.3s ease 0s;
      }
    
      .header__burger:before {
        top: 0;
      }
    
      .header__burger:after {
        bottom: 0;
      }
    
      .header__burger.active:before {
        transform: rotate(45deg);
        top: 16px;
      }
    
      .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 14px;
      }
    
      .header__burger.active span {
        transform: scale(0);
      }
    
      .header__menu {
        position: fixed;
        top: 125px;
        left: -100%;
        width: 100%;
        height: 100%;
    
        background: linear-gradient(45deg, #ff8f5a, #ff2f96);
        z-index: 3;
    
        transition: all 1s ease 0s;
      }
    
      .header__menu.active {
        left: 0;
      }
    
      .header__menu ul {
        display: block;
        margin: 0 auto;
      }
    
      .header__menu li {
        padding: 15px 0 15px 40px;
        margin: 0;
      }
    
      .menu a {
        color: white;
        font-size: 30px;
      }
    
      .menu a:hover {
        border-bottom: 2px solid white;
        color: white;
      }
}


@media screen and (max-width: $md + "px") {
    header {
        padding-top: 30px;
        height: 20px;
      }
  
      .header__menu {
        top: 70px;
        z-index: 20;
      }
  
      .header__burger {
        width: 25px;
        height: 20px;
      }
  
      .header__burger span {
        width: 100%;
        height: 2px;
        top: 9px;
      }
  
      .header__burger:before,
      .header__burger:after {
        width: 100%;
        height: 2px;
      }
  
      .header__burger.active:before {
        top: 4px;
      }
  
      .header__contact {
        width: 60%;
        display: flex;
        justify-content: space-between;
      }
  
      .header__button {
        display: none;
      }
  
      .header__phone {
        font-size: 18px;
      }
  
      .header__button-mobile {
        display: block;
        width: 26px;
      }
}

@media screen and (max-width: $sm + "px") {
    .header__contact {
        width: 60%;
    }

    .header__phone {
        font-size: 16px;
    }

}