// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

.about {
    height: 660px;
    display: flex;
    justify-content: space-between;
  }
  
  .about__text {
    margin-top: 230px;
  }
  
  .about__prof {
    margin-top: 20px;
    font-size: 25px;
    color: #8993ad;
    font-weight: 400;
  }
  
  .about__photo {
    position: relative;
  }
  
  .about__photo img {
    position: absolute;
    right: -100px;
    bottom: 0;
    z-index: 2;
  }
  
  .about__elements{
    position: absolute;
  }
  
    #element1{
      position: absolute;
      top: 300px;
      left: -100px;
  
      animation: show1 2s;
    }
  
    @keyframes show1{
      from{
        left: -1000px;
      }
      to{
        left: -100px;
      }
    }
  
    #element2{
      position: absolute;
      left: -200px;
      transform: scale(0.7);
  
      animation: show2 2s;
    }
  
    @keyframes show2{
      from{
        top: -500px;
      }
      to{
        top: 0;
      }
    }
  
    #element3{
      position: absolute;
      left: 400px;
      top: 100px;
      transform: scale(0.7) rotate(-45deg);
  
      animation: show3 2s;
    }
  
    @keyframes show3{
      from{
        top: -500px;
      }
      to{
        top: 100px;
      }
    }
  
    #element4{
      position: absolute;
      left: 20px;
      top: 570px;
      transform: scale(0.9);
  
      animation: show4 2s;
    }
  
    @keyframes show4{
      from{
        top: 500px;
      }
      to{
        top: 570px;
      }
    }
  
    #element5{
      position: absolute;
      left: 570px;
      top: 500px;
      transform: scale(1.1);
  
      animation: show5 2s;
    }
  
    @keyframes show5{
      from{
        left: 1000px;
      }
      to{
        left: 570px;
      }
    }
  
    @keyframes show{
      from{
        left: -1000px;
      }
      to{
        left: -100px;
      }
    }
  
    @media screen and (max-width: 1200px) {
      #element2{
        position: absolute;
        left: 50px;
        top: 50px;
        transform: scale(0.7);
    
        animation: show2 2s;
      }
    
      @keyframes show2{
        from{
          top: -500px;
        }
        to{
          top: 50px;
        }
      }
  
      #element5{
        position: absolute;
        left: 390px;
        top: 500px;
  
    
        animation: show5 2s;
      }
    
      @keyframes show5{
        from{
          left: 1000px;
        }
        to{
          left: 390px;
        }
      }
    }
  
  
  #ellipse {
    position: absolute;
    right: -480px;
    bottom: 0;
  
    width: 920px;
    height: 600px;
  }
  
  #ellipse_mobile {
    display: none;
  }
  
  
  .button {
    color: white;
    font-size: 16px;
    padding: 15px 40px;
    background-color: #ff4e2e;
    margin-top: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .button:hover{
    transform: translateY(1px);
  }

  @media screen and (max-width: $lg + "px") {
    .about__photo img {
        right: -80px;
        bottom: -15px;
      }
    
      #ellipse {
        bottom: -15px;
      }
    
      .about__prof {
        font-size: 20px;
      }
    
      h1 {
        font-size: 60px;
      }

      #element1{
        position: absolute;
        top: 300px;
        left: -70px;
    
        animation: show1 2s;
      }
    
      @keyframes show1{
        from{
          left: -1000px;
        }
        to{
          left: -70px;
        }
      }


      #element3{
        position: absolute;
        left: 340px;
        top: 100px;
        transform: scale(0.7) rotate(-45deg);
    
        animation: show3 2s;
      }
    
      @keyframes show3{
        from{
          top: -500px;
        }
        to{
          top: 100px;
        }
      }
  }


  @media screen and (max-width: 860px) {
    .main {
      height: 700px;
    }

    .about__photo img {
      width: 390px;
      bottom: 40px;
    }

    #ellipse {
      right: -540px;
      bottom: 25px;
    }

    .about__prof {
      font-size: 18px;
    }

    h1 {
      font-size: 55px;
    }

    .button {
      font-size: 14px;
    }
  }


  @media screen and (max-width: $md + "px") {
    .about {
        height: 660px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
  
      .about__elements, .promo__elements{
        display: none;
      }
  
      .about__photo {
        height: 410px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about__photo img {
        right: -10px;
      }
  
      #photo {
        z-index: 2;
        height: 410px;
        width: auto;
        position: relative;
        bottom: 0;
      }
  
      #ellipse {
        position: absolute;
        bottom: 0;
        right: -310px;
        width: 890px;
        height: 330px;
      }
  
      .about__text {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .button {
        margin-top: 20px;
      }
}

@media screen and (max-width: $sm + "px") {
    .button {
        color: white;
        font-size: 16px;
        width: 100%;
        padding: 20px 0;
        margin-top: 20px;
      }

      .about__prof {
        font-size: 16px;
        text-align: center;
      }

      .about__photo img {
        position: absolute;
        right: -10px;
        bottom: 0;
        z-index: 2;
      }

      .about__text{
          width: 100%;
      }
}
