// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

/*Переменные*/
$section-color: #fbfbfb;

.portfolio{
    background-color: $section-color;
    padding-bottom: 70px;
}

.portfolio__button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slider{
    position: relative;
}

.slider__item{
    img{
        width: 100%;
    }

    padding: 0 15px;
}


.slider__item p{
    text-align: center;
    font-size: 20px;
    color: #8993ad;
    margin-top: 30px;

    cursor: pointer;

    &:hover{
        color: darken(#8993ad, 30%);
    }
}

/* Слайдер */
.slick-slider{
    
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    justify-content: space-between;
}
/* Слайд */
.slick-slide{
}
@media screen and (max-width: $xl + "px") {
    .slick-slide img{
        width: 100%;
    }
}
@media screen and (max-width: $sm + "px") {
    .slick-slide img{
        width: 100%;
    }
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 20;
    font-size: 0;

    width: 60px;
    height: 60px;
}
@media screen and (max-width: $xl + "px") {
    .slick-arrow{
        top: 30%;
        width: 50px;
        height: 50px;
    }
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    left: -15px;
    background: url('../../img/elements/left.png') no-repeat;
    background-position: center center;
    background-size: cover;   
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: -15px;
    background: url('../../img/elements/right.png') no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width: $sm + "px") {
    .slick-arrow{
        top: 40%;
        width: 40px;
        height: 40px;
    }
    .slick-arrow.slick-prev{
        left: 0;
        background-size: cover;
    }
    .slick-arrow.slick-next{
        right: 0;
        background-size: cover;
    }
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 5px;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}