@import "_reset";
@import "_fonts";
@import "_popup";
@import "_slick-slider";


/*Section*/
@import "_header";
@import "_main-section";
@import "_expirience-section";
@import "_promo-section";
@import "_contact-section";


/*Переменные*/
$section-color: #fbfbfb;

// Брейкпонты
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

/*
@media screen and (max-width: $xl + "px") {}
@media screen and (max-width: $lg + "px") {}
@media screen and (max-width: $md + "px") {}
@media screen and (max-width: $sm + "px") {}
*/


html,
body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

body.block {
  overflow: hidden;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}
  
h2 {
  font-size: 54px;
  font-weight: 700;
  padding: 90px 0px;
  display: flex;
  justify-content: center;
}
  
h3 {
  color: white;
  font-size: 45px;
}


@media screen and (max-width: $xl + "px") {
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0 5%;
    }
}

@media screen and (max-width: $lg + "px"){
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0 5%;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 860px) {
    h1 {
      font-size: 55px;
    }
  }

  @media screen and (max-width: $md + "px") {
    .container {
        width: 96%;
        margin: 0 auto;
        padding: 0 2%;
    }

    h1 {
        font-size: 40px;
      }
  
      h2 {
        font-size: 35px;
        padding: 60px 0;
      }
  
      h3 {
        font-size: 35px;
      }
}

@media screen and (max-width: $sm + "px") {
      h1 {
        font-size: 30px;
      }
  
      h2 {
        font-size: 30px;
      }
  
      h3 {
        font-size: 28px;
      }
}